



body {
    background: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 18px;
    opacity: 0;
    filter: blur(20px);
    animation: fade-in-blur-out 12s forwards;
}

/* Media Queries for responsiveness */

@media (max-width: 600px) {
    body {
        font-size: 12px; /* Reduce font size for screens smaller than 600px */
    }
}

/* For tablets: */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }
    #bootSequence, #sqlSequence {
        height: 70vh;
    }
    pre {
        line-height: 0.3;
    }
    #logo {
        display: none;
        position: absolute;
        top: 1vw;
        right: 1vw;
        height: 4vw;
        width: auto;
    }
}

/* For small laptops: */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    body {
        font-size: 1.4em;
    }
    #bootSequence, #sqlSequence {
        height: 75vh;
    }
    pre {
        line-height: 0.4;
    }
    #logo {
        display: none;
        position: absolute;
        top: 1vw;
        right: 1vw;
        height: 4vw;
        width: auto;
    }
}

/* For laptops and desktops: */
@media only screen and (min-width: 1281px) {
    body {
        font-size: 1.6em;
    }
    #bootSequence, #sqlSequence {
        height: 80vh;
    }
    pre {
        line-height: 0.5;
    }
    #logo {
        display: none;
        position: absolute;
        top: 1vw;
        right: 1vw;
        height: 4vw;
        width: auto;
    }
}

@keyframes fade-in-blur-out {
    0% { 
        opacity: 0;
        filter: blur(20px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

.glitch {
    position: relative;
    animation: glitch 5s infinite;
}

@keyframes glitch {
    2%,64% {
        transform: translate(2px, 0) skew(0deg);
    }
    4%,60% {
        transform: translate(-2px, 0) skew(0deg);
    }
    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.yellow {
    color: yellow;
}

#msdos {
    animation: flash 1s linear infinite;
}

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

#bootSequence {
    overflow: auto;
    height: 90vh; /* Adjust this based on your layout */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#bootSequence::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

#sqlSequence {
    overflow: auto;
    height: 90vh; /* Adjust this based on your layout */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

#sqlSequence::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

pre {
    line-height: 0.2; /* Adjust this value as needed */
}


